@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0px;
}




/* LAYOUT PRINCIPAL */

.Layout {   
    height: 44rem; 
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    transition: all 0.6s linear;
}

.LayoutTextos {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.LayoutTextos h1 {
    font-family: 'Exo', sans-serif;
    font-size: 2rem;
    padding-top: 4%;
    padding-left: 5%;
}

.Layout span {
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    font-weight: 750;
    margin-left: 4%;
}

.LayoutTextos p{
    border-left: var(--fonte-secundaria-clara) solid;
    max-width: 50%;
    flex-wrap: wrap;
    padding: 0.5%;
    margin-left: 3%;
}

.LayoutTextos strong {
    color: var(--fonte-secundaria-clara);
}

.LayoutTextos strong:hover {
    color:var(--fonte-primaria-clara);
}

/* LAYOUT PRINCIPAL */

/*  BOTÃO  */

.LinksBotao {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 5%;
    padding-right: 5%;
}

.LinksBotao a {
    display: flex;
    width: 20.875rem;
    height: 1.875rem;
    border: 3.5px solid var(--fonte-secundaria-clara);
    border-radius: 40px;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    gap: 8px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    color: var(--fonte-secundaria-clara);
    box-shadow: inset 0px 0px 5px;
    transition: all 0.6s ease-in-out 90ms;
 
}

.LinksBotao a img {
    display: flex;
    width: 2.325rem;
    color: var(--fonte-primaria-escura);
}
.LinksBotao a:hover {
    background-color: var(--fonte-escura-bg2);
    color: var(--fonte-primaria-clara);
    transform: scale(0.9)rotateX(360deg);
    box-shadow: inset 0px 0px 25px;

}

/*  BOTÃO  */


/* RESPONSIVIDADE */

@media (max-width: 1040px) and (min-width: 350px){

    .LayoutTextos h1 {
        text-align: center;
    }

    .LayoutTextos span {
        text-align: center;
    }

    .LayoutTextos p {
        text-align: center;
        max-width: 100%;
        border: none;
    }

    .Layout.dark .LayoutTextos p {
        border: none;
    }

    .LinksBotao {
        align-items: center;

    }
}

/* RESPONSIVIDADE */


/* DARK MODE  */
    .Layout.dark {
        background-color: var(--fonte-escura-bg2);
        color: var(--font-color-cinza);
    
    
    }
    
    .Layout.dark .LinksBotao a {
       border-color: var(--fonte-secundaria-escura);
       color: var(--fonte-primaria-escura);
    }
    
    .Layout.dark .LinksBotao a:hover {
        color: var(--fonte-escura-bg2);
        background-color: var(--fonte-primaria-escura);
        transform: scale(0.9)rotateX(360deg);
        box-shadow: inset 0px 0px 15px;
    }
    
    .Layout.dark .LayoutTextos p {
        border-left: var(--fonte-primaria-escura) solid;
    }
    
    .Layout.dark .LayoutTextos strong {
        color: var(--fonte-primaria-escura);
    }
    
    .Layout.dark .LayoutTextos strong:hover {
        color: var(--fonte-secundaria-escura);
    }

/* DARK MODE  */

