
/*  HEADER */

.header {
    background-color: #0C356A;
    border-bottom: solid #279EFF 4px;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header.dark {
    background-color: var(--primary-color);
    border-bottom: solid var(--secondary-color) 4px;
    height: 4rem;
    transition: all 0.6s linear;
}

.header.dark .Navegacao h2 {
    border-color: var(--secondary-color);
    color: var(--font-color);
    
}

.Navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.Navegacao h2 {
    width: 7.0rem;
    font-size: 1.1rem;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-bottom: #279EFF solid 4px;
    text-align: center;
}

.Navegacao h2:hover {
    cursor: pointer;
}

@media (max-width: 550px) and (min-width: 350px) {

    .Navegacao {
        flex-wrap: wrap;
    }

    .Navegacao h2 {
        width: 5.0rem;
        font-size: 0.850rem;
        align-items: center;
    }
}