/*  HEADER CONTAINER */

.header {
    background-color: var(--fonte-secundaria-clara);
    background-image: url(/public/assets/background.png);
    background-size: cover no-repeat;
    background-position: center center;
    border-bottom: solid var(--fonte-primaria-clara) 4px;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    transition: 0.7s;
    opacity: 1;
}

.header.sticky {
    z-index: 20;
    height: 2.225rem;
    backdrop-filter: blur(0.4375rem);
    position: fixed;
    transition: 0.7s;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    opacity: 0.925;
}

.header.sticky:hover {
    opacity: 1;
}


.header.sticky .container-nav a{
    font-size: 16px;
    padding: 0.3rem 0.3rem;
}

.header.sticky .container-nav a:hover {
    border-width: 2px;
}

/*  HEADER CONTAINER */


.container-nav {
    display: flex;
    gap: 20px;
}

.container-nav a{
    list-style: none;
    color: var(--font-color-cinza);
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 0.4rem 0.4rem;
    border-bottom: 4px solid transparent;
    transition: all 0.5s;
    scroll-behavior: smooth;
}

.container-nav a:hover {
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom: 4px solid #fff;
    cursor: pointer;
}


@media (max-width: 1040px) and (min-width: 350px) {

    .header {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: left;
        transition: 0.7s;
        opacity: 1;
    }

    .container-nav {
        display: flex;
        justify-content: left;
        gap: 6px;
    }

    .container-nav a{
        font-size: 16px;
        font-weight: 500;
    }

    .container-nav a:hover {
        border-width: 2px;
    }
}




/* DARK MODE */

.header.dark {
    background-color: var(--fonte-primaria-escura);
    border-bottom: solid var(--fonte-secundaria-escura) 4px;
}

.header.dark .Navegacao a{
    border-color: var(--fonte-secundaria-escura);
    color: var(--font-color-cinza);
}