
/* CONTAINER */

.container-section {
    display: flex;
    background-color: var(--fonte-escura-bg2);
    height: 60rem;
    box-shadow: 
        inset -50px -50px 50px rgba(255, 255, 255, 0.01),
        inset 50px 50px 50px rgba(0,0,0,0.2);
    border-top: var(--fonte-primaria-clara) solid 6px;
    border-bottom: var(--fonte-primaria-clara) solid 6px;
 }

/* CONTAINER */

/* CONTAINER DAS IMAGENS DE TECNOLOGIAS */

/* margin: 10% 0% 5% 0.845em; */



.container-techs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

/* CONTAINER DAS IMAGENS DE TECNOLOGIAS */


/* IMAGENS TECNOLOGIAS */

.container-techs img {
    margin-left: 2rem;
    width: 40px;
    height: 40px;
    align-items: center;
    opacity: 0.7;
    transition: all 0.5s linear;
}


.background-box {
    position: absolute;
    margin-left: 2%;
    top: 96rem;
    display: flex;
    width: 650px;
    height: 90px;
    background-color: var(--fonte-primaria-clara);
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-family: "Roboto", sans-serif;
    border-radius: 20px;
    color: var(--font-color-cinza);
    filter: saturate(1.7);
    letter-spacing: 4px;
}

.background-box.dark {
    background-color: var(--fonte-primaria-escura);
}

.background-box.dark span {
    filter: brightness(0.9);
}

.background-box.dark strong {
    color: var(--fonte-escura-bg);
    filter: saturate(1.0);
    filter: opacity(0.9);
}

.background-box strong {
    color: var(--fonte-secundaria-clara);
    filter: saturate(0.5);
}

/* IMAGENS TECNOLOGIAS */


.container-techs img:hover {
    opacity: 1.0;
    scale: 1.4;
    filter: contrast(1.5);
    transition: all 0.5s linear;
}
/* DARK MODE */
.container-section.dark {
    background-color: var(--fonte-escura-bg2);
    border-color: var(--fonte-primaria-escura);
}

.container-projects {
    width: 100%;
    margin: 10% 10%;
    gap: 64px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media (max-width: 1024px) and (min-width: 350px) {

    .container-section {
        height: 70rem;
    }

    .container-projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        margin-left: 0%;
        margin-right: 2rem;
    };

    .container-techs img {
        margin-left: 0rem;
        width: 90px;
        height: 30px;
        align-items: center;
        opacity: 0.7;
        transition: all 0.5s linear;
    }
    
    .background-box {
        width: 0;
        font-size: 0;
    }

}