
/* CONTAINER PRINCIPAL */

.Secao2 {
    display: flex;
    justify-content: space-between;
    height: 50rem;
    box-shadow: 
    inset -50px -50px 50px rgba(255, 255, 255, 0.01),
    inset 50px 50px 50px rgba(0,0,0,0.2);
    background-color: var(--fonte-secundaria-clara);
    border-top: var(--fonte-primaria-clara) 10px solid;
    transition: all 1s;
    flex-wrap: wrap;
}

/* CONTAINER PRINCIPAL */

/* CONTAINER TEXTOS */

.SobreMim {
    display: flex;
    color: var(--font-color-cinza);
    flex-direction: column;
    max-width: 50vw;
}

/* TEXTOS  */

.SobreMim h1 {
    display: flex;
    justify-content: right;
    border-bottom: var(--fonte-primaria-clara) 8px solid;
    margin: 10% 0% 5% 1em;
    font-size: 26px;
    font-family: 'Exo', sans-serif;
    transition: all 1s; 
    border-bottom-right-radius: 5px;
    max-width: 30%;
}

.Secao2:hover h1 {
   max-width: 50%;
}

.SobreMim p {
    font-family: 'Montserrat', sans-serif;
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 0 1rem; /* Margem à esquerda e à direita de 1rem */
    padding: 10px;
    line-height: 1.5;
    font-size: 18px;
}

/* TEXTOS  */

/* CONTAINER IMAGEM */

.sobre-img {
    margin-top: 6.0rem;
    margin-right: 6.0rem;
}

/* CONTAINER IMAGEM */

.sobre-img img{
    width: 20rem;
    border-radius: 100px;
    border: var(--fonte-primaria-clara) solid 4px;
    animation: float 2.8s infinite;
}

/* ANIMAÇÃO DA FOTO */

@keyframes float {
    0% , 100% {
        transform: translateY(4%);
    }
    50% {
        transform: translateY(-4%);
    }

}

/* ANIMAÇÃO DA FOTO */

/* RESPONSIVIDADE */


@media (max-width: 1040px) and (min-width: 350px) {

    .Secao2 {
        border-top: 8px solid var(--fonte-primaria-clara);
        height: 60rem;
    }



    .SobreMim {
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-width: none;
    }
    
    .SobreMim p {
        font-size: 16px;
        text-align: center;
        margin: 2% 5%;
    }

    .SobreMim h1 {
        margin: 5% 2% 2% 0%;
        font-size: 16px;
        flex-wrap: nowrap;
        text-align: center;
        border-bottom: 8px solid var(--fonte-primaria-clara);
        max-width: 40%;
    }

    .Secao2:hover h1 {
        max-width: 60%;
     }

    .sobre-img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .sobre-img img{
       width: 0px;
       border: 0px;
    }


}

/* RESPONSIVIDADE */

/* DARK MODE */

        .Secao2.dark {
            border-top: var(--fonte-secundaria-escura) 8px solid;
            background-color: var(--fonte-background-escura);
        }
        
        .Secao2.dark .SobreMim h1 {
            border-color: var(--fonte-secundaria-escura);
            color: var(--font-color-cinza);
        }
        
        .Secao2.dark .sobre-img img {
            border-color: var(--fonte-primaria-escura);
           
        }