
/* CONTAINER PRINCIPAL */

.Secao2 {
    display: flex;
    justify-content: space-between;
    height: 48.4rem;
    box-shadow: 
    inset -50px -50px 50px rgba(255, 255, 255, 0.01),
    inset 50px 50px 50px rgba(0,0,0,0.2);
    background-color: #0C356A;
    border-top: #279EFF 10px solid;
    transition: all 1s;
    flex-wrap: wrap;
}

/* CONTAINER PRINCIPAL */

/* CONTAINER TEXTOS */

.SobreMim {
    display: flex;
    color: #fff;
    padding: 0% 5% 0% 0%;
    flex-flow: column;
}

/* TEXTOS  */

.SobreMim h1 {
    display: flex;
    justify-content: right;
    border-bottom: #279EFF 7px solid;
    margin: 10% 0% 5% 0.845em;
    font-size: 1.275rem;
    font-family: 'Exo', sans-serif;
    transition: all 1s;
    letter-spacing: 2px;
    border-radius: 1%;
    max-width: 14.875rem;
}

.Secao2:hover h1 {
    max-width: 50%;
    justify-content: right;
}

.SobreMim p {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    padding-left: 1rem;
    font-size: 1.2rem;
    max-width: 50vw;
}

/* TEXTOS  */

/* CONTAINER IMAGEM */

.sobre-img {
    padding-top: 6.045rem;
    padding-right: 6rem;
}

/* CONTAINER IMAGEM */

.sobre-img  img{
    width: 20.355rem;
    border-radius: 45%;
    border: #279EFF solid 4px;
    animation: float 4s infinite;
    transition: all 0.9 ease-in-out 0s;
}

/* ANIMAÇÃO DA FOTO */

@keyframes float {
    0% , 100% {
        transform: translateY(4%);
    }
    50% {
        transform: translateY(-4%);
    }

}

/* ANIMAÇÃO DA FOTO */

/* RESPONSIVIDADE */

@media (max-width: 1040px) and (min-width: 350px) {

    .Secao2 {
        border-top: 5px solid #279EFF;
    }


    .Secao2:hover h1 {
        max-width: 20.875rem;
    }

    .SobreMim {
        display: flex;
    }
    
    .SobreMim p {
        font-size: 0.875rem;
        text-align: center;
        align-items: center;
        max-width: none;
    }

    .SobreMim h1 {
        font-size: 1.175rem;
        text-wrap: balance;
        border-bottom: 4px solid #279EFF;
    }

    .sobre-img {
        padding-top: 2.045rem;
        justify-content: center;
    }

    .sobre-img img {
        width: 0;
        border: none;
    }

}

/* RESPONSIVIDADE */

/* DARK MODE */

        .Secao2.dark {
            border-top: var(--secondary-color) 8px solid;
            background-color: var(--dark-color);
        }
        
        .Secao2.dark .SobreMim h1 {
            border-color: var(--primary-color);
            color: var(--font-color);
        }
        
        .Secao2.dark .sobre-img img {
            border-color: var(--primary-color)
        }