.container-contato {
    width: 100%;
}

.container-contato h1 {
    font-family: "Exo", sans-serif;
    margin-top: 3%;
    margin-left: 6%;
    font-weight: 700;
    border-bottom: 4px solid var(--fonte-primaria-clara);
    text-align: center;
    font-size: 26px;
    max-width: 120px;
}


.container-div-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.container-div-img img {
   width: 40%;
   height: 40%;
}

.container-copys {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    width: 100%;
    height: 20rem;
}

.container-copys h2{
    text-align: center;
    font-size: 32px;
    border-bottom: solid;
    border-width: 4px;
    letter-spacing: 4px;
    padding-bottom: 10px;
    border-image: linear-gradient(90deg, var(--fonte-primaria-clara), var(--fonte-escura-bg)) 1
}


.clickcopy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 30rem;
    height: 68px;
    border-radius: 20px;
    padding: 2px;
    box-shadow: 2px 2px 4px rgba(0, 0 , 0, 0.2);
    background-color: var(--fonte-primaria-clara);
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 20px;
    border-right: 2px solid #fff;
    opacity: 0.8;
    transition: 0.2s;
}


.clickcopy:hover .icon {
    opacity: 1.0;
}

.clickcopy span {
    font-size: 22px;
    color: var(--font-color-cinza);
    opacity: 0.8;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    transition: 0.2s;
    user-select: none;
}


.clickcopy:hover span {
    opacity: 1.0;
}

.copygreen {
    color: green;
}

.icon img {
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

@media (max-width: 1024px) and (min-width: 350px) {

    .container-contato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-contato h1 {
        text-align: center;
        font-size: 26px;
        margin-top: 5%;
    }

    .clickcopy {
        width: 20rem;
        height: 4rem;
        padding: 0;
    }

    .clickcopy span {
        font-size: 18px;
        letter-spacing: normal;
    }

    .container-div-img img {
        width: 100%;
        height: 100%;
     }


    .icon img {
        width: 25px;
        height: 18px;
    }

    .container-copys {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        width: 100%;
    }

    .container-copys h2{
        text-align: center;
        font-size: 12px;
        border-bottom: solid;
        border-width: 2px;
        font-size: 24px;
        letter-spacing: normal;
    }
}
