:root {
  --fonte-primaria-clara: #8AAAE5;
  --fonte-secundaria-clara: #365486;
  --fonte-primaria-escura: #E04D01;
  --fonte-secundaria-escura:  #FF7700;
  --font-color-cinza: #fafafa;
  --fonte-escura-bg: #2A2550;
  --fonte-escura-bg2: #251D3A;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
